{% extends 'base.html' %}{% block content%}
{% if user.is_authenticated %}
<div class="columns is-centered has-text-centered">
    <div class="column is-size-1">代辦事項</div>
</div>
{% endif %}
{% for todo in todos %}
<div class="columns is-centered">
    <div class="column is-6">
        <div class="card">
            <header class="card-header has-background-grey">
                <p class="card-header-title is-size-4 has-text-grey-lighter">
                    {% if todo.completed %}
                    <s>
                        {{ todo.title }}
                        {% if todo.important %}(重要){% endif%} </s>
                    {% else %}
                    {{ todo.title }}{% if todo.important %}(重要){% endif%}
                    {% endif %}
                    </a>
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content">
                    {{ todo.text }}
                </div>
            </div>
            <footer class="card-footer">
                <a href="{% url 'view' todo.id %}" class="card-footer-item">檢視</a>
                <a href="{% url 'completed_by_id' todo.id %}" class="card-footer-item">完成</a>
                <a href="{% url 'delete' todo.id %}" class="card-footer-item">刪除</a>
            </footer>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}